################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReadMe.txt
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/utils.obj
/Debug/Template.out
/Debug/segmenteropencl.obj
/Debug/segmentercpu.obj
/Debug/segmenter.out
/Debug/parambase.obj
/Debug/OpenCLProject3.log
/Debug/normalizeropencl.obj
/Debug/normalizercpu.obj
/Debug/norm.out
/Debug/mfccopencl.obj
/Debug/mfcccpu.obj
/Debug/mfccbase.obj
/Debug/mfcc.out
/Debug/lib/pkgconfig/sndfile.pc
/Debug/lib/pkgconfig
/Debug/lib/libsndfile-1.lib
/Debug/lib/libsndfile-1.def
/Debug/lib/libfftw3l-3.lib
/Debug/lib/libfftw3l-3.exp
/Debug/lib/libfftw3f-3.lib
/Debug/lib/libfftw3f-3.exp
/Debug/lib/libfftw3-3.lib
/Debug/lib/libfftw3-3.exp
/Debug/lib
/Debug/fft_setup.obj
/Debug/fft_kernelstring.obj
/Debug/fft_execute.obj
/Debug/FFT.out
/Debug/deltaopencl.obj
/Debug/deltacpu.obj
/Debug/delta.out
/Debug/clmemset.obj
/Debug/clfft.obj
/Debug/benchmark.obj
/Debug/ASR_OCL.write.1.tlog
/Debug/ASR_OCL.tlog/link.write.1.tlog
/Debug/ASR_OCL.tlog/link.read.1.tlog
/Debug/ASR_OCL.tlog/link.command.1.tlog
/Debug/ASR_OCL.tlog/CL.write.1.tlog
/Debug/ASR_OCL.tlog/CL.read.1.tlog
/Debug/ASR_OCL.tlog/CL.command.1.tlog
/Debug/ASR_OCL.tlog/ASR_OCL.write.1u.tlog
/Debug/ASR_OCL.tlog/ASR_OCL.lastbuildstate
/Debug/ASR_OCL.tlog
/Debug/ASR_OCL.obj
/Debug
